{% extends 'template.html.twig' %}


{% block title %}<title>Gestion des logins</title>{% endblock %}
{% block pageTitle %}
   
    <h2 class=' text-center m-3 text-info'>Gerer les logins</h2>
     <div class="text-end">
     <a type="btn" href="{{path('show_myLogin')}}" class="btn btn-outline-primary" >Retour à la liste</a>  
     </div>
{% endblock %}

{% block body %}
<div class="container p-0 " >
    {{form(form)}}

   
{% endblock %}